<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <div class="row d-flex justify-content-center" name="banner">
        <div class="col-4">
            <div class=" p-3 border border-dark border-3">
                <h1>You did it! {{newmail}} is now registered!</h1>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center" name="content">
        <div class="col-6">
            <div class=" p-3 border border-dark border-3">
                <table class="table">
                    <thead>
                        <th>Email Addresses</th>
                        <th>Created At</th>
                    </thead>
                    {% for email in emails %}
                    <tr>
                        <td>{{email.email}}</td>
                        <td>{{email.created}}</td>
                    </tr>

                    {% endfor %}
                    <!-- <tr>
                        <td>{{newmail.email}}</td>
                        <td>{{newmail.created}}</td>
                    </tr> -->
                </table>
            </div>
            <form action="/delete" method="POST">
                <select name="delete" >
                    {% for email in emails %}
                    <option value="{{email.email}}">{{email.email}}</option>
                    {% endfor %}
                </select>
                <button>Delete</button>
            </form>
        </div>
    </div>
</body>

</html>