<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>

    <form action = "/users" method ='POST'>
        <label for="username">User Name:</label>
        <br><br>
        <input type="text" name="username">

        <label for="useremail">User dwaEmail:</label>
        <br><br>
        <input type="text" name="useremail">
        <input type="submit" value="Submit">


    </form>
</body>
</html>