<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a movie!</title>
</head>
<body>
    <a href="/">Home</a>
    <h3>Add a movie!</h3>

    <form action="/create_movie" method="POST">
        <hr>
        <label>Title:</label>
        <input type="text" name="title">
        <br>
        <label>Description:</label>
        <textarea name="description"></textarea>
        <br>
        <label>Year:</label>
        <input type="number" name="release_year">
        <br>
        <label>Rating:</label>
        <input type="text" name="rating">
        <br>
        <label>Length:</label>
        <input type="text" name="length">
        <br>
        <button>Submit</button>

    </form>
</body>
</html>