<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>{{arbitrary}} </h2>
    <p> {{num_sec}}</p>

<div class="dflex">
    {%for i in range(0,num_sec)%}
        <div class="flex-item" style="background-color: {{ arbitrary }}">d</div>
    {% endfor %}
</div>
    {% if num_sec==2 %}
        <p>you accessed the secret page asshole</p>
    {% endif %}    
</body>
</html>